@model CRUD_image.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-4">
    <div class="card-header">
        <h1 class="display-4">Add New Product</h1>
    </div>

    <div class="card-body">
        <div>
            <form asp-action="Create" asp-controller="Products" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="mb-2">
                        <label asp-for="Name" class="col-form-label col-3"></label>
                        <input asp-for="Name" class="form-control col-6" />
                        <span asp-validation-for="Name" class="text-danger col-3"></span>
                    </div>
                    <div class="col mb-2">
                        <label asp-for="Unit" class="col-form-label col-3"></label>
                        <input asp-for="Unit" class="form-control" />
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                    <div class="col mb-2">
                        <label asp-for="Price" class="col-form-label col-3"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col mb-2">
                        <label asp-for="Image" class="col-form-label col-3"></label>
                        <input asp-for="Image" class="form-control" type="file" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-link btn-sm" style="text-decoration: none;"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
    </div>
</div>

